<a href="https://colab.research.google.com/github/Hawawou/30-days-of-code/blob/main/Day15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic input, output and string formatting

In [1]:
user_input = input()

foo bar baz

In [2]:
name = input("What is your name? ")

What is your name? Hawa

input always returns strings

In [4]:
# numeric type
number = int(input("Enter a number: "))

Enter a number: 30

In [5]:
print(number + 29)

59

In [6]:
# Writing output to console
first_name = "Hawa"
last_name = "Oumar"
print("Name: ", first_name, last_name)

Name:  Hawa Oumar

In [7]:
example_list = [1,4,5]
example_int = 23
example_dict = {'foo':1, "bar":2}
type(len)
print(example_list, example_int, example_dict, len)

[1, 4, 5] 23 {'foo': 1, 'bar': 2} <built-in function len>

Advanced print features

In [8]:
# separating printed values
print('foo', 42, "bar")

foo 42 bar

In [11]:
print('foo',  42, "bar", sep=", ")

foo, 42, bar

In [12]:
d = {'foo': 2, "bar": 2, "baz": 3}
for k,v in d.items():
  print(k,v, sep=" -> ")

foo -> 2
bar -> 2
baz -> 3

In [13]:
print("foo", 42, "bar", sep="")

foo42bar

In [15]:
# Controlling newline character
if True:
  print("foo", end='/')
  print(24, end='/')
  print("bar")

foo/24/bar

In [16]:
for number in range(10):
  print(number, end=(" " if number < 9 else "\n"))

0 1 2 3 4 5 6 7 8 9

In [3]:
# using formatted strings
name = input("what is your name? ")

what is your name? Hawa

In [4]:
age = int(input("How old are you? "))

How old are you? 22

In [5]:
f"Hello, {name}. You are {age}."

'Hello, Hawa. You are 22.'

In [6]:
f"Hello {name}. In 50 years, you'll be {age + 50}."

"Hello Hawa. In 50 years, you'll be 72."