<a href="https://colab.research.google.com/github/Hawawou/30-days-of-code/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
var1 = 2+2 
print(var1)
# integer

4

Addition of two integers

In [5]:
var2 = 3+2/5
var2
# float

3.4

addition on an integer and a fraction

In [6]:
var3 = 4*16
var3
# int

64

Multiplication of two integers

In [7]:
var4 = 4**6
var4
# int

4096

Raising the number four to power 6

In [8]:
var5 = "Hello " + " " + "World"
var5
# string

'Hello  World'

concatenation of strings

In [14]:
var6 = "Hello world " * 5
var6
# string

'Hello world Hello world Hello world Hello world Hello world '

In [11]:
var7 = 4 % 3
var7
# int

1

modulos of a number