<a href="https://colab.research.google.com/github/Hawawou/30-days-of-code/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ["Hello", 1, "world", 2, 0.1,"data", 3, "science", 4, 0.2, 0.3, 0.4, 0.5, 5, "good"]
list1

['Hello',
 1,
 'world',
 2,
 0.1,
 'data',
 3,
 'science',
 4,
 0.2,
 0.3,
 0.4,
 0.5,
 5,
 'good']

In [ ]:
list4 = ["Good", 20, "day"]

In [ ]:
list5 = list1 + list4
list5

['Hello',
 1,
 'world',
 2,
 0.1,
 'data',
 3,
 'science',
 4,
 0.2,
 0.3,
 0.4,
 0.5,
 5,
 'good',
 'Good',
 20,
 'day']

In [1]:
list2 = [5, 6, 7.0, "eight", "nine"]
list3 = []
for i in list2:
  list3 = type(i)
  print(list3)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>